@model AspSerag.Models.Pojisteni2

@{
    ViewData["Title"] = "Vymazat";
}
<h3>Opravdu si přejete pojistnou událost smazat?</h3>
<div>
    <h4>Pojisteni2</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jméno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jméno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Příjmení)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Příjmení)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Popis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Popis)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Vymazat" class="btn btn-danger" /> |
        <a asp-controller="Home" asp-action="Udalosti">Zpět na hlavní stránku</a>
    </form>
</div>
