@model AspSerag.Models.Pojisteni1

@{
    ViewData["Title"] = "Odstranění";
}

<h1>Delete</h1>

<h3>Opravdu jste si jisti, že chcete pojištěného smazat?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jméno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jméno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Příjmení)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Příjmení)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Věk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Věk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bydliště)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bydliště)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PSČ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PSČ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Vymazat" class="btn btn-danger" /> |
        <a asp-controller="Home" asp-action="Pojisteni">Zpět na hlavní stránku</a>
    </form>
</div>
